<div class="font-sans">
    <div class="relative h-96 flex flex-col sm:justify-center items-center">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-3 text-sm text-gray-700 text-center font-semibold">
                    Login
                </label>
                <div *ngIf="msg" class="bg-red-300 border-t-4 border-blue-400 rounded-b text-red-600 px-4 py-3 shadow-md my-3"role="alert">
                    <div class="flex">
                            <div>
                                <p class="text-sm">
                                    {{msg}}
                                </p>
                            </div>
                    </div>
                 </div>
                <form #loginForm ="ngForm" (ngSubmit)="loginUser()"   class="mt-10">
                                   
                    <div>
                        <input type="email" placeholder="Email" name="email" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"  [(ngModel)] = "user.email" required #email="ngModel" email="true">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                class="text-red-500">
                            <div *ngIf="email.errors?.['required']">
                                Email is required.
                            </div>

                            <div *ngIf="email.errors?.['email']">
                                Email is Invalid
                            </div>
                        </div>
                    </div>
        
                    <div class="mt-7">                
                        <input type="password" placeholder="Password" name="password" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"  [(ngModel)] = "user.password" required #password="ngModel"  minlength="8" >                           
                        <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                class="text-red-500">
                            <div *ngIf="password.errors?.['required']">
                                Password is required.
                            </div>
                            <div *ngIf="password.errors?.['minlength']">
                                Password must be at least 8 characters long.
                              </div>
                        </div>
                    </div>

                    <div class="mt-7 flex"> 

                       <div class="w-full text-right">     
                            <a class="underline text-sm text-gray-600 hover:text-gray-900" href="#">
                                Mot de passe oublié?
                            </a>                                  
                       </div>
                    </div>
                    <div class="mt-7">
                        <button [disabled]="loginForm.invalid" class="bg-blue-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            Login
                        </button>
                    </div>        
                    <!--<div class="flex mt-7 items-center text-center">
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                        <label class="block font-medium text-sm text-gray-600 w-full">
                            Ou
                        </label>
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                    </div>

                    <div class="mt-7">
                        <div class="flex justify-center items-center">                           
                            <button [routerLink]="['/registre']" class="bg-green-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                                Créer nouveau compte
                            </button>
                        </div>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    
</div>