
  <!-- Hero Area Start -->
  <section id="hero-area" class=" pt-21 pb-10">
    <div class="container">
      <div class="flex justify-between">
        <div class="w-full text-center">
          <p class="text-8xl font-bold leading-snug text-gray-700 mb-10">Gestion Labo</p>
          
          <div class="text-center">
            <img class="object-cover h-90 w-90 mx-auto" src="assets/img/lab.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Area End -->